---
layout: page
title: 'Agenda de Eventos - WoMakersCode'
description: Calendário de oficinas e eventos do WoMakersCode. Empoderamento feminino, igualdade e tecnologia ao redor do Brasil!
permalink: /agenda/
---
<header class="conceptual conceptual--schedule">
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Calendário de eventos e oficinas #WMC16</h1>
      <hr>
      <p>Maratona de atividades em comemoração ao Dia Internacional da Mulher.</p>
    </div>
  </div>
</header>
<section class="section-schedule">
  <div class="container">
    <div class="row">
      <!-- nav-pills -->
      <ul class="nav nav-pills" role="tablist">
        {% for evento in site.data.agenda %}
        <li role="presentation"{% if evento.id == "01" %} class="active"{% endif %}><a href="#schedule-tab-{{ evento.id }}" aria-controls="{{ evento.id }}" role="tab" data-toggle="tab">{{ evento.group }}</a></li>
        {% endfor %}
      </ul>
      <!-- //nav-pills -->
      <!-- tab-content -->
      <div class="tab-content">
        {% for evento in site.data.agenda %}
        <div id="schedule-tab-{{ evento.id }}" class="tab-pane fade{% if evento.id == "01" %} in active{% endif %}" role="tabpanel">
          {% for element in evento.elements %}
          <div class="panel panel-default">
            <div class="panel-heading {{ element.type }}">
              <h3 class="panel-title">{{ element.title }}</h3>
            </div>
            <div class="panel-body">
              <p>{{ element.description }}</p>
            </div>
            <div class="panel-footer">
              <ul class="list-inline">
                <li><i class="fa fa-calendar"></i> <b>Data:</b> {{ element.date }}</li>
                <li><i class="fa fa-map-marker"></i> <b>Local:</b> {{ element.place }}</li>
                <li><i class="fa fa-user"></i> <b>Público:</b> {{ element.public }}</li>
                <li><i class="fa fa-certificate"></i> <b>Pré-requisito:</b> {{ element.complexity }}</li>
                <li><i class="fa fa-bullhorn"></i> <b>Palestrante:</b> {{ element.organizer }}</li>
                <li class="no-padding"><a href="{{ element.link }}" target="_blank" class="btn btn-primary">Inscrever <i class="fa fa-angle-double-right"></i></a></li>
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <!-- //tab-content -->
    </div>
  </div>
</section>
