<section class="bg-dark" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Empoderar é o primeiro passo para novas revoluções</h2>
        <hr class="light">
        <p class="text-faded">O WoMakersCode é um projeto livre, sem fins lucrativos, criado e mantido por voluntários, que almeja o empoderamento feminino, em especial na área de tecnologia. Empoderar é incentivar a participação, o aprendizado colaborativo e acima de tudo,
          dar voz às mulheres. </p>
        <p class="text-faded">Durante o mês da Mulher, promoveremos eventos, oficinas e debates com foco em Tecnologia. Os eventos serão realizados em diversas cidades do país e irão promover a conscientização e buscar compreender as causas sub-representação feminina neste
          mercado, além de prepará-las e incentivá-las a investir em suas carreiras.</p>
        <p class="text-faded">Nós queremos ir além e transformar o mundo através da tecnologia, pois acreditamos que ela é um agente transformador e que juntos podemos mudar a cultura do mercado de trabalho, nossa própria realidade e consequentemente, o mundo. </p>
        <a href="alistamento.html" class="btn btn-default btn-xl">Junte-se a nós!</a>
      </div>
    </div>
  </div>
</section>
