<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Conecte-se</h2>
        <hr class="primary">
        <p>Quer saber mais sobre o projeto ou juntar-se a nossa rede de voluntários e fazer acontecer? Mande um oi para <a href="mailto:contato@womakerscode.org">contato@womakerscode.org</a> e vamos conversar!</p>
      </div>
      <div class="col-lg-4 col-lg-offset-1 text-center">
        <div class="fb-page" data-href="https://www.facebook.com/womakerscode" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"></div>
        <div id="fb-root"></div>
      </div>
      <div class="col-lg-6 text-center">
        <a href="https://github.com/WoMakersCode" target="_blank" class="col-lg-3  footer-social-media">
          <i class="fa fa-github fa-3x bounceIn"></i>
          <span>Organização no Github</span>
        </a>

        <a href="https://twitter.com/hashtag/WoMakersCode?src=hash" target="_blank" class="col-lg-3 footer-social-media">
          <i class="fa fa-twitter fa-3x bounceIn"></i>
          <span>#WoMakersCode no Twitter</span>
        </a>

        <a href="http://eepurl.com/bw5NVz" target="_blank" class="col-lg-3  footer-social-media">
          <i class="fa fa-bell fa-3x bounceIn"></i>
          <span>Assine nossa mailing</span>
        </a>

        <a href="https://womakerscode.herokuapp.com/" target="_blank" class="col-lg-3  footer-social-media">
          <i class="fa fa-slack fa-3x bounceIn"></i>
          <span>Nosso canal no Slack</span>
        </a>
      </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5&appId=1495516100665794";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
