<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Navegue por aqui</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="../index.html"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="../index.html#about" title="Sobre">Sobre</a>
                </li>
                <li>
                    <a href="alistamento" title="Aliste-se!">Aliste-se!</a>
                </li>
                <li>
                    <a class="page-scroll" href="#footer" title="Contato">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
